# Create vps/icecast.env from this example and DO NOT commit it

ICECAST_SOURCE_PASSWORD=supersecret
ICECAST_ADMIN_PASSWORD=supersecretadmin
ICECAST_RELAY_PASSWORD=relaysecret
ICECAST_LOCATION=My VPS
ICECAST_HOSTNAME=stream.example.com
ICECAST_MAX_CLIENTS=100

