[Unit]
Description=Fleet GitOps converger timer
Requires=role-agent.service

[Timer]
OnCalendar=*-*-* 01:00:00
RandomizedDelaySec=90
Persistent=true

[Install]
WantedBy=timers.target
